body{
    font-size: 13px;
    font-weight: 400;
    font-family: "SF Pro Text";
    color: #1d1d1f;
   }

.alertLingua{
    background-color: rgb(40, 40, 40);
    color: #ededed;
    height: 70px;
}

.containerLingua{
    position: fixed;
    top: 0;
}

.btn-close{
    color: #ededed;
    background-image: none;
    font-size: 20px;
    margin-top: 10px;
}

.btn-close:hover{
    color: white;
}

.testoPaese{
    width: 500px;
}

.form-select{
    border: none;
    width: 380px;
    background-color: rgb(69, 69, 69);
    font-size: 18px;
}

.btn{
    background-color: #ededed;
    color: black;
}

.btn:hover{
    background-color: rgba(255, 255, 255, 0.870);
    color: black;
}

.navbarCustom{
    list-style: none;
    justify-content: center;
    background-color: rgb(59, 59, 59,0.95);
    padding: 20px 0px 10px 0px; 
    position: fixed;
    top: 70px;
    

}

.navbarCustom a, a:visited{
    color: #ededed;
    text-decoration: none;
    padding-left: 30px;
    font-size: 13px;    
}

.navMobile{
    display: flex!important;
    align-items: flex-end!important;
    justify-content: flex-end!important;
}

.divide{
    margin-top: 123px;
    background-color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.divide a{
    color: #06c;
}


.vision{
    background-image: url(./media/hero_apple_vision_pro.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
}
.vision img{
    padding-bottom: 15px;
}

.vision a{
    text-decoration: none;
    font-size: 20px;
    color: #06c;
}

.vision h1{
    font-size: 25px;
    font-family: 'Larsseit', sans-serif;
}

.macbookAir{
    background-image: url(./media/hero_macbook_air_15.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
}

.macbookAir h2{
    font-size: 55px;
}
h3{
    color: rgb(76, 76, 76);
}
.macbookAir h4{
    font-size: 25px;
}

.learnOrder a{
    padding: 10px 20px 20px 20px;
    font-size: 17px;
    text-decoration: none;
    color: #06c;
}

.learnOrderDark a{
    padding: 10px 20px 20px 20px;
    font-size: 20px;
    text-decoration: none;
    color: #2997ff;
}

.iphonePro{
    background-image: url(./media/hero_iphone14pro_spring.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
}

.iphonePro h2{
    font-size: 50px;
}

.macStudio{
    background-image: url(./media/mac_studio.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

.macPro{
    background-image: url(./media/mac_pro.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

.tradeIn{
    background-image: url(./media/tradein.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

.watch{
    background-image: url(./media/watch.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

.fitness{
    background-image: url(./media/fitness.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

.cardApple{
    background-image: url(./media/card.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

.bgFooter{
    background-color: #ededed;
}

.textFooter{
    color: rgb(86, 86, 86);
    font-size: 12px;
}

.linkUtiliFooter li{
    font-size: 12px;
    list-style: none;
    color: rgb(86, 86, 86);
    padding: 5px;
}

.linkUtiliFooter h5{
    font-size: 18px;
    color: black;
    
}

.moreWays{
    color: rgb(86, 86, 86);
}


.privacyPolicy p{
    padding-right: 5px;
    border-right: 1px solid rgb(86, 86, 86);
    padding-left: 5px;
    color: rgb(86, 86, 86);
}


/* Media Query */

@media screen and (max-width:993px) {

    .alertLingua{
        background-color: rgb(44, 44, 44);
        color: #ededed;
        height: 130px;
    }

    .testoPaese{
        justify-content: start;
        padding-left: 30px;
    }
    
    .form-select{
        border: none;
        width: 200px;
        padding-left: 40px;
        background-color: rgb(69, 69, 69);
        font-size: 18px;
    }
    
    .btn{
        background-color: #ededed;
        color: black;
        width: 100px;
    }
    
    .btn:hover{
        background-color: rgba(255, 255, 255, 0.870);
        color: black;
    }

    .navMobile{
        position: fixed;
        padding-right: 40px!important;
        top: 130px!important;
        border: 0!important;
        background-color: rgb(40, 40, 40, 0.98);;
        height: 50px;
        margin-top: 0!important;
    }

    .collapsing{
        background-color: rgb(255, 255, 255);
        margin-top: 20px;
    }
    
    .navbarCustom li i{
        display: none;
    }
    
    .navbarCustom a{
        font-size: 45px;
        color: #ededed;
    }

    .navbarCustom{
        background-color: rgb(40, 40, 40);
        margin-top: 130px;
        padding-left: 30px;
        position: fixed;
        height: 100vh;
        top: 0;
        width: 100%;
        margin-right: -40px;
    }

    .navbar-toggler-icon{
        position: fixed;
        border: 0;
        text-shadow: none;
        background-image: none;
        color: #ededed;
        top: 120px;
        z-index: 1;
    }

    .navbar-toggler{
        border: none; 
    }

    .navbar-toggler:focus{
        box-shadow: none;
    }

    .divide{
        margin-top: 210px;
    }

    .macbookAir{
        height: 45vh;
    }
    
}

@media screen and (max-width:580px) {

    header img{
        height: 60px;
    }

    .titolo{
        font-size: 18px!important;
    }

    .sottotitolo{
        font-size: 16px!important;
    }

    .macbookAir{
        margin: 10px;
        height: 80vh;
    }

    .macbookAir h2{
        margin-top: 0px!important;
    }

    .macPro h2{
        margin-top: 0!important;

    }

    .learnOrder{
        padding-top: 0!important;

    }
    .watch img{
        padding: 5px!important;
    }

    .fitness img{
        padding: 10px!important;
    }

    .cardApple img{
        padding: 10px!important;
    }

    
}

@media screen and (max-height:1070px) and (max-width:580px){

    .navbarCustom a{
        font-size: 30px;
    }

    .divide{
        display: flex;
        flex-direction: column;
    }

}

