body{
    font-size: smaller;
    font-family: 'Larsseit', sans-serif;
}

nav{
    background-color: #ededed;
}

.itemNav{
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 20px;
    
}

.itemNav p{
    
    text-align: start;
    margin-top: 20px;
}

.formSelect{
    width: 380px;
    padding-left: 40px;
}

.form-select{
    border: none;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
}

.btn{
    background-color: black;
    color: white;
    width: 100px;
}

.secondaNav{
    list-style: none;
    height: 45px;
}

.secondaNav a, a:visited{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-left: 40px;
    font-size: 13px;
}

.vision{
    background-image: url(./media/hero_apple_vision_pro.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
}
.vision img{
    padding-bottom: 15px;
}

.vision a{
    text-decoration: none;
    color: #06c;
    font-size: 20px;
}

.vision h1{
    font-size: 25px;
    font-family: 'Larsseit', sans-serif;
}

.macbookAir{
    background-image: url(./media/hero_macbook_air_15.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
}

.macbookAir h2{
    font-size: 55px;
}
h3{
    color: rgb(76, 76, 76);
}
.macbookAir h4{
    font-size: 25px;
}

.learnOrder a{
    padding: 10px 20px 20px 20px;
    font-size: 17px;
    text-decoration: none;
    color: #06c;
}

.learnOrderDark a{
    padding: 10px 20px 20px 20px;
    font-size: 20px;
    text-decoration: none;
    color: #2997ff;
}

.iphonePro{
    background-image: url(./media/hero_iphone14pro_spring.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
}

.iphonePro h2{
    font-size: 50px;
}

.macStudio{
    background-image: url(./media/mac_studio.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

.macPro{
    background-image: url(./media/mac_pro.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

.tradeIn{
    background-image: url(./media/tradein.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

.watch{
    background-image: url(./media/watch.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

.fitness{
    background-image: url(./media/fitness.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

.cardApple{
    background-image: url(./media/card.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

.bgFooter{
    background-color: #ededed;
}

.textFooter{
    color: rgb(86, 86, 86);
    font-size: 12px;
}

.linkUtiliFooter li{
    font-size: 12px;
    list-style: none;
    color: rgb(86, 86, 86);
    padding: 5px;
}

.linkUtiliFooter h5{
    font-size: 18px;
    color: black;
    
}

.moreWays{
    color: rgb(86, 86, 86);
}

.privacyPolicy{
    padding-right: 300px;
}

.privacyPolicy p{
    padding-right: 10px;
    border-right: 1px solid rgb(86, 86, 86);
    padding-left: 10px;
    color: rgb(86, 86, 86);
}


/* Media Query */

@media screen and (max-width:576px) {
    .itemNav p{ 
        text-align: center;
    }
    
}